<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2c8f7f04-ec5f-4a22-99c3-75bb73349bfe/resourceGroups/ProductsManagementApiJS_group/providers/Microsoft.Web/sites/ProductsManagementApiJS</ResourceId>
    <ResourceGroup>ProductsManagementApiJS_group</ResourceGroup>
    <ApiResourceId>/subscriptions/2c8f7f04-ec5f-4a22-99c3-75bb73349bfe/resourceGroups/ProductsManagementApiJS_group/providers/Microsoft.ApiManagement/service/WebProductsapi/apis/WebProducts</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://productsmanagementapijs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>97f8c86f-89f6-4240-b4fc-9489bc19316e</ProjectGuid>
    <MSDeployServiceURL>productsmanagementapijs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProductsManagementApiJS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ProductsManagementApiJS</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>